body {
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

#container {
	min-width: 1000px;	
}

#inner_container {
	margin-top: 70px;
}

#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 60px;
	padding-top: 15px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(70, 70, 70, 1);
	color: rgba(70, 70, 70, 1);
}

#sharebar {
	position: fixed;
	height: 40px;
	width: 400px;
	margin-top: 30px;
	margin-left: 400px;
}

#searchbar {
	float: left
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 300px;
	height: 50px;
	font-size: 24px;
}

#toprightmenu {
	float: right;
	text-align: right;
	width: 500px;
	margin-right: 20px;
	margin-top: -60px;
	height: 50px;
	font-size: 24px;	
}

#toprightmenu img {
	width: 45px;
	height: 45px;
	vertical-align: middle;
}

#notification_count {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	background: url(img/red_box.png);
}

#notification_count a {
	font-size: 18px;
	font-weight: bold;
	color: white;
}

#notification_count:hover {
	background: url(img/red_box_hover.png);
}

#leftmenu {
	position: fixed;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	padding-bottom: 30px;
}

#rightmenu {
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	padding-bottom: 30px;
	font-size: 20px;
	color: #617798
}

#navigation a {
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: #82c0fa;
}

a {
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	color: #617798;
	text-decoration: none;
}

a:hover {
	color: #8e0101;
}

#content {
	width: 600px;
	padding-top: 130px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

input, textarea, select {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    padding: 6px; 
    border: solid 1px #E5E5E5; 
    outline: 0;
    background: #FFFFFF url('bg_form.png') left top repeat-x; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
} 
   
textarea {
	width: 200px;
	resize: none;
    width: 300px;
    height: 40px; 
    line-height: 150%; 
} 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
} 
   
.submit { 
    width: auto; 
    padding: 6px 15px; 
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

.submit:hover{ 
    background: #7b94ba; 
}

.homepage_button {
	background-image: url('http://sorubank.ege.edu.tr/~b051164/dersler/lwp/proje/img/home.png');
	background-repeat: no-repeat;
	padding-left: 22px;
	font-size: 15px;
	background-size: 30px 30px;
	cursor: pointer;
	display: inline-block;
}

.like_button {
	background-image: url('http://sorubank.ege.edu.tr/~b051164/dersler/lwp/proje/img/like.png');
	background-repeat: no-repeat;
	padding-left: 22px;
	font-size: 15px;
	background-size: 20px 25px;
	cursor: pointer;
}

.unlike_button {
	background-image: url('http://sorubank.ege.edu.tr/~b051164/dersler/lwp/proje/img/unlike.png');
	background-repeat: no-repeat;
	padding-left: 22px;
	font-size: 15px;
	background-size: 20px 25px;
	cursor: pointer;
}

#post_user {

}

#post_user img {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

#post_content {
	padding-left: 30px;
	margin-top: 15px;
}

#post_likes {
	position: absolute;
	margin-left: 30px;
	margin-top: 10px;
	line-height: 22px;
	font-size: 18px;
	color: #617798;
}

#post_like_button {
	margin-left: 50px;
	margin-top: 10px;
}

#post_comment_user {
	margin-left: 70px;
	margin-top: 20px;
}

#post_comment_content {
	padding-left: 80px;
	width: 380px;
}

#post_comment  {
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 60px;
}

#group_info {
	font-size: 20px;
	color: black;
	text-align: center;
	margin-bottom: 120px;
}

#group_info a {
	font-size: 16px;
}

#group_info img {
	height: 80px;
	vertical-align: middle;
	float: left;
}

#posts {
	margin-left: 10px;
	margin-top: 15px;
	font-size: 18px;
	color: black;
}

#user_search {
	vertical-align: middle;
	margin-bottom: 40px;
}

#user_search_name {
	font-size: 20px;
}

#user_search img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}

#group_search {
	font-size: 20px;
	margin-top: 40px;
}

#group_search img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}

